<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2>Spielregeln</h2>
                <ul>
                    <li>Die Eingabe der User werden auf Korrektheit validiiert, es sind nur Städte aus Deutschland und der Schweiz zulässig, Flüsse, Länder und Namen werden ebenfalls auf korrektheit geprüft</li>
                    <li>Ist ein Spieler mit dem Ausfüllen seiner Felder fertig, kann er die Runde durch klicken auf den  “Runde Beenden” - Button beenden.</li>
                    <li>Bei Stadt - Land - Fluss können beliebig viele Personen gegeneinander spielen (mindestens zwei). </li>
                    <li>Das Ziel ist es als Erster so viele Begriffe, welche mit einem gegebenen Buchstaben beginnen, wie Möglich zu finden. </li>
                    <li>Umso ausgefallener ein Begriff ist desto unwahrscheinlich ist es, dass der einer der Mitspieler den selben Begriff hat. Hat man als einzigster Spieler der Runde einen Begriff wird man mit erhöhter Punktevergabe belohnt. </li>
                    <li>Der Anfangsbuchstabe wird durch das  System per “Zufall” ausgewählt und angezeigt.</li>
                    <li>Nachdem ein Spieler die Runde beendet hat wird die aktuelle Runde ausgewertet. Die Punkteverteilung finden Sie im Abschnitt Punkteverteilung. </li>
                    <li>Das Spiel gewinnt der Spieler, der die höchste Gesamtpunkte-Zahl vorweisen kann.</li>
                </ul>

                <h3> Punkteverteilung </h3>
                <ul>
                    <li>Ein Spieler erhält 20 Punkte, wenn er als einzigster Spieler eine korrekte Lösung für eine Spalte hat.</li>
                    <li>10 Punkte erhält ein Spieler, wenn er ein einzigartiges Ergebnis hat, welches kein anderer Spieler vorweisen kann.</li>
                    <li>5 Punkte erhält er, wenn das Ergebnis einer Spalte auch bei anderen Spielern vorkommt.</li>
                    <li>0 Punkte werden vergeben, wenn ein Spieler keine Lösung für eine Spalte erzielen konnte.</li>
                </ul>
            </div>
        </div>
    </div>
</div>